@charset "UTF-8";
.verDate-box {
    width: 280px;
    max-height: 380px;
    position: absolute;
    z-index: 9999999;
    background: #fff;
    box-shadow: 2px 2px 5px #dedede, -2px -2px 5px #dedede;
}

.verDate-title {
    height: 35px;
    line-height: 35px;
    background: deepskyblue;
    color: #fff;
    vertical-align: middle;
}

.verDate-title > div {
    cursor: pointer;
    display: inline-block;
    vertical-align: middle;
}

.verDateIcon {
    width: 30px;
}

.verDate-left {
    float: left;
}

.verDate-right {
    float: right;
}

.verDate-item {
    width: calc(100% - 60px);
    text-align: center;
    line-height: 30px;
}

.verDate-day {
    width: 100%;
    height: calc(100% - 72px);
    border-collapse: collapse;
    clear: both;
    margin: 0;
    padding: 0;
}

.verDate-day th, .verDate-day td {
    font-weight: normal;
    text-align: center;
    border: 1px solid #dedede;
    width: calc(100% / 7);
    height: 35px;
    vertical-align: middle;
    cursor: pointer;
}

.verDate-day thead {
    background: deepskyblue;
    color: #fff;
}

.verDate-day tbody td:hover, .verDate-day tbody td:active, .verDate-day tbody td.verDate-day-now {
    background: deepskyblue;
    color: #fff;
}

.verDate-day tr th:first-child, .verDate-day tr td:first-child {
    border-left: 0;
}

.verDate-day tr th:last-child, .verDate-day tr td:last-child {
    border-right: 0;
}

.verDate-btns {
    height: 55px;
    line-height: 55px;
    text-align: right;
    padding: 0 15px;
}

.verDate-btns a {
    color: green;
    text-decoration: none;
}

.ver-date-close, .verDate-end {
    color: #999;
}

.ver-date-close:hover {
    background: none !important;
    color: #999 !important;
}

.ver-date-hide-btns {
    display: none;
}

.ver-date-times {
    float: left;
    text-align: left
}

.ver-date-times input{
    width: 25px;
    line-height: 25px;
    height: 25px;
    padding:  0 5px;
    border-radius: 3px;
    border: 0;
    box-shadow: 1px 1px 3px #999,-1px -1px 3px #999;
    text-align: center;
    cursor: pointer;
    outline: none !important;
}