@font-face {font-family: "dateIcon";
  src: url('iconfont.eot?t=1554270299246'); /* IE9 */
  src: url('iconfont.eot?t=1554270299246#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('data:application/x-font-woff2;charset=utf-8;base64,d09GMgABAAAAAAK4AAsAAAAABrAAAAJsAAEAAAAAAAAAAAAAAAAAAAAAAAAAAAAAHEIGVgCDBgqBDIEUATYCJAMMCwgABCAFhG0HQhvmBREF3Mm+SuBN07o0hIirO6Gvi6q4GuY4xJsoDtbEQ98a+md37oLgEoUoAZ+PAir4Ct/YqFYCKVlfoaoq2YjrCZEhZlubMhwYE2GYkvPguzQreR52SNf56VSVqpC1dU0Mifo/7/fOh4U0GxavAYdh8TUBKx8UPX2ey2kTKJD5Lctljq1HvQDjAwp0rEGRlVAg3DB2E4FDOE6g36w1cZ4KCb0SGBeIVzpb6M1FpbQKvUJbszTFW43e8lTGG/79+G8neimaCky9IB7g+Je/2vrYPbqnFDGCurpBxRqSeFabvTaqsFhVvzbbK1splLkSXQeXhvp2p3+8QrRA/SBYUnOFX4kFBL/a8QqoIJ+fw5bGnLwhxHhlexuW6mjPovrszFy+j4lT97+ROlFD215Hmn+B6UWE7q57yokIiXde53W2FwYwla9QyX8RCMY/L43n9u91E/z4ru8UdfaMo/cEvuCHybSODBXAVtOXYmnsr8Z7uAuq2A7ogOC4n+P1U72bCb2mRvh7zKSoes1Rk7mGxoA9tHrRR+i3Kls9YAKzRfZhxU1BGPVGMewbqlEfajK/aEz7ozUaNvpdBlsOWAjtxFgI1lBeQVfTSMghjmjcoDr2BWcVnH1AXnUCIj8sFjIckeeYsZ5ULEJAPA2QKqdh308w89RiJX4jMidBQHVv8qtpMBxnGCoIVAOlK6BVJiOivYVT+vwGUo56BW4hDIQPEFvp/kHEF/agZtqxF+FeXlmdKDEhCCBsMgCpMgj1ehMw1w9qoYrwNSPSs0QAu1Ffrb++fvi+JOgHptUoUSP1vxxVjx7ykbhJJWvViGEA') format('woff2'),
  url('iconfont.woff?t=1554270299246') format('woff'),
  url('iconfont.ttf?t=1554270299246') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+ */
  url('iconfont.svg?t=1554270299246#iconfont') format('svg'); /* iOS 4.1- */
}

.dateIcon {
  font-family: "dateIcon" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.dateIcon-angle-left:before {
  content: "\e604";
}

.dateIcon-angle-right:before {
  content: "\e606";
}

.dateIcon-lg{
  font-size: 1.3em;
}

